<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<h1>hello</h1>-->
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add Mobiles here</h4>
<!--                  <p class="card-description">-->
<!--                    Basic form elements-->
<!--                  </p>-->
                  <form class="forms-sample" method="post" action="{% url 'save_mobile' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="">CompanyName</label>
                      <select class="form-control" name="cname">
                          <option>Select Option</option>
                          {% for d in data %}
                          <option>{{d.Company_Name}}</option>
                          {% endfor %}
                      </select>
                    </div>
                      <div class="form-group">
                      <label for="">Mobile_Name</label>
                      <input type="text" class="form-control" id="1" placeholder="Mobile_Name" name="mname">
                    </div>
                       <div class="form-group">
                      <label for="">Price</label>
                      <input type="text" class="form-control" id="2" placeholder="Price" name="price">
                    </div>
                       <div class="form-group">
                      <label for="">Description</label>
                      <input type="text" class="form-control" id="3" placeholder="Description" name="description">
                    </div>
                       <div class="form-group">
                      <label for="">Mobile_Image1</label>
                      <input type="file" class="form-control" id="4" placeholder="Mobile_Image1" name="img1">
                    </div>
                       <div class="form-group">
                      <label for="">Mobile_Image2</label>
                      <input type="file" class="form-control" id="5" placeholder="Mobile_Image2" name="img2">
                    </div>
                       <div class="form-group">
                      <label for="">Mobile_Image3</label>
                      <input type="file" class="form-control" id="" placeholder="Mobile_Image3" name="img3">
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
 {% for i in messages %}
   {% if i.tags == 'warning' %}
    <script>
        swal('{{i}}','','warning');
    </script>
 {% elif i.tags == 'error' %}
    <script>
        swal('{{i}}','','error');
    </script>
 {% elif i.tags == 'info' %}
    <script>
        swal('{{i}}','','info');
    </script>
 {% else %}
    <script>
         swal('{{i}}','','success');
    </script>
   {% endif %}
 {% endfor %}
{% endif %}
</body>
</html>
{% endblock %}