<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<h1>hello</h1>-->
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">User Details</h4>
<!--                  <p class="card-description">-->
<!--                    Add class <code>.table-hover</code>-->
<!--                  </p>-->
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>User_Name</th>
                          <th>Email</th>
                          <th>Password</th>
                          <th>Confirm password</th>
                            <th>Options</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for d in data %}
                        <tr>
                            <td>{{d.User_Name}}</td>
                            <td>{{d.Email}}</td>
                            <td>{{d.Password}}</td>
                            <td>{{d.Cpassword}}</td>
                            <td>
                                <a href="{% url 'delete_register' cn_id=d.id %}">
                                    <button class="btn btn-outline-danger">Remove</button>
                                </a>
                            </td>
                        </tr>
                      </tbody>
                        {% endfor %}
                    </table>
                  </div>
                </div>
              </div>
            </div>
</body>
</html>
{% endblock %}